################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoanBazaar/packages
/LoanBazaar/LoanBazaar/bin
/LoanBazaar/LoanBazaar/obj