@{
    ViewBag.Title = "Loan Raasta";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- Full Page Image Background Carousel Header -->
<div class="container contentarea">
    <div class="row">
        <!-- left start -->       
        <div class="col-md-9 col-sm-9 contenttext">
            <h2>LoanRaasta Services Pvt Ltd</h2>
            <div class="innerbanner"><img src="~/images/innerbanner.jpg" alt="" class="img-responsive img-thumbnail" /></div>
            <p>LoanRaasta Services Pvt Ltd caters to the specific financial needs of Customers in association with several Nationalized Banks, NBFCs, 
            Financial Institutions in India. We strive to serve our Customers at a personal level and bring least hassle to Customers in arriving at the 
            right loan availment decision. We value the Time, Resources and Convenience of our Customers very highly. Our forte is Door Step Service 
            (your Home, Office, Work place), Compliance guidelines, Documentation with the right Banking establishment, tracking & updating of application 
            status till disbursal of your loan funds.</p>
            <p>We understand the pain points of each Loan applicant and we channelize resources and expertise in providing optimum funding / loan solutions 
            to Customers. LoanRaasta helps Customers zero in to the right financial product that match their unique requirement.</p>
            <p>LoanRaasta Services Pvt Ltd has a physical presence with a Brick & Mortar Office in# 256,7th sector,  HSR Layout in Bangalore -560102 and 
            we are not a virtual company. We believe in sitting across the table face to face in designing and delivering solutions to our esteemed Customers.</p>

        </div>
        <!-- left end -->
        <!-- right start -->
        @*<div class="col-md-3 col-sm-3">
            <div class="rightbanner">
                <h4>CAR LOAN</h4>
                <p>Vestibulum posuere orci et ligula imper diet, vitae commodo felis vulputate. In tempus nulla enim.</p>
                <div align="center">
                    <img src="~/images/ads.jpg" class="img-responsive">
                </div>
                <br /><a href="#" class="btn btn-danger col-md-12 col-sm-12 col-xs-12">VIEW DETAIL</a>
                <div class="clearfix"></div>
            </div>
        </div>*@
        <!-- right start -->
    </div>
</div>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

