@{
    ViewBag.Title = "Loan Raasta";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- content start -->
<div class="container contentarea">
    <div class="row">
        <!-- left start -->
        <div class="col-md-12 col-sm-12 contenttext">
            <h2>Our Channel Partners</h2>

            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/01.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/02.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/03.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/04.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/05.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/06.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/07.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/08.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/09.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/10.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/11.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/12.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/13.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/14.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/15.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/16.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/17.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/18.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/19.jpg" width="200" height="75"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="banklogos"><img src="~/images/bank/20.jpg" width="200" height="75"></div>
                </div>
            </div>



        </div>
        <!-- left start -->

    </div>
</div>
<!-- content end -->
