@{
    ViewBag.Title = "Loan Raasta";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- Full Page Image Background Carousel Header -->
<!-- content start -->
<div class="container contentarea">
    <div class="row">
        <!-- left start -->
        <div class="col-md-9 col-sm-9 contenttext">
            <h2>Contact Us</h2>
            <div class="innerbanner"><img src="~/images/innerbannera.jpg" alt="" class="img-responsive img-thumbnail" /></div>
            <h3>LoanRaasta Services Pvt ltd</h3>
            <h4>#256,14th main ,7th sector, H SR Lay out,<br /> Bangalore- 560102.</h4>
            <h4>PH: +91 9108880768</h4>
            <h4>Email id : <a href="mailto:Leadersfinancialserives@outlook.com">Leadersfinancialserives@outlook.com</a></h4>

        </div>
        <!-- left start -->
        <!-- right start -->
        <!--  <div class="col-md-3 col-sm-3">
                <div class="rightbanner">
                  <h4>CAR LOAN</h4>
                    <p>Vestibulum posuere orci et ligula imper diet, vitae commodo felis vulputate. In tempus nulla enim.</p>
                   <div align="center">
                   <img src="~/images/ads.jpg" class="img-responsive"></div>
        <br/><a href="#" class="btn btn-danger col-md-12 col-sm-12 col-xs-12">VIEW DETAIL</a>
        <div class="clearfix"></div>
                </div>
            </div> -->
        <!-- right start -->
    </div>
</div>
<!-- content end -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

