
@{
    ViewBag.Title = "Loan Raasta";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<!-- content start -->
<div class="container contentarea">
    <div class="row">
        <!-- left start -->
        <div class="col-md-9 col-sm-9 contenttext">
            <h2>Page Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et venenatis ex, nec consectetur dui. Nullam ut sem porttitor, consectetur augue at, pharetra ante. Nam mollis nibh ligula, quis convallis tortor fringilla vitae. </p>
            <p>Vivamus ut molestie mi, porttitor mollis turpis. Donec rutrum lorem arcu, a gravida ligula lobortis a. Sed varius sed lectus nec fermentum. Vivamus eu erat a justo molestie commodo ac sit amet metus.</p>
            <p>Vestibulum posuere orci et ligula imperdiet, vitae commodo felis vulputate. In tempus nulla enim, condimentum pretium mauris sagittis vitae. Morbi tristique lacinia ullamcorper. Proin porttitor turpis risus, quis faucibus justo iaculis vel. Sed egestas tincidunt ante, et tincidunt enim iaculis eget. Nunc vestibulum rhoncus lorem sit amet viverra. Quisque vulputate mi rhoncus mauris viverra suscipit. Phasellus commodo justo ac tortor varius semper.</p>
            <ul>
                <li>Vestibulum posuere orci et ligula</li>
                <li>vitae commodo felis vulputate</li>
                <li>et tincidunt enim</li>
                <li>rhoncus mauris viverra</li>
            </ul>
            <h3>Sub Title</h3>
            <div class="logobox">&nbsp;</div>
        </div>
        <!-- left start -->
        <!-- right start -->
        <div class="col-md-3 col-sm-3">
            <div class="rightbanner">
                <h4>CAR LOAN</h4>
                <p>Vestibulum posuere orci et ligula imper diet, vitae commodo felis vulputate. In tempus nulla enim.</p>
                <div align="center">
                    <img src="~/images/ads.jpg" class="img-responsive">
                </div>
                <br /><a href="#" class="btn btn-danger col-md-12 col-sm-12 col-xs-12">VIEW DETAIL</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- right start -->
    </div>
</div>
<!-- content end -->

<script>
    $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script>
