@{
    ViewBag.Title = "Loan Raasta";
    Layout = "~/Views/Layout/_Layout.cshtml";
}



<!-- content start -->
<div class="container contentarea">
    <div class="row">
        <!-- left start -->
        <div class="col-md-12 col-sm-12 undercons">
            <h2>Coming Soon!</h2>
            <p>Page Under Construction!!!</p>


        </div>
        <!-- left start -->

    </div>
</div>
<!-- content end -->



<script>
    $('ul.nav li.dropdown').hover(function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
}, function() {
  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
});
</script>
